html {
  font-family: "Roboto", sans-serif;
}

header {
  /* position: fixed;
  top: 30px; */
  width: 100%;
  margin: 60px;
  display: flex;
  align-items: center;
  
  
}


nav {
  background-color: rgba(255, 255, 255, 0.507);
  margin: 0 auto;
  padding: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.568);
  position: fixed;
  top: 0%;
  margin-top: 1%;
}

.logo {
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.089);
  color: gold;
  position: absolute;
  left: 0%;
  margin-left: 170px;
  margin-top: 6%;
  
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-image: url(12345.png);
  background: gold url(12345.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5px;
}

nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li {
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
  color: rgb(168, 168, 3);
}

.hero {
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 80vh;
}

.immagine,
.testo {
  width: 50%;
}

section {
  margin: 0 5%;
}

.testo h1 {
  font-weight: 400;
  font-size: 50px;
  color: white;
}

.testo h1 span {
  font-weight: bold;
}
.testo p {
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
}

.testo h1 span {
  font-weight: bold;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-bottom: 70px;
}

.cosa-facciamo h2 {
  
  font-size: 40px;
  
}

h2{
  background-color: rgba(255, 255, 255, 0.562);
  margin-left: 33.9%;
  margin-right: 33.9%;
  text-align: center;
  border-radius: 15px;

}

/*.cosa-facciamo h3 {

}*/

.cosa-facciamo .card {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.527);
  width: calc(33.3% - 20px);
  padding: 30px;
  border-radius: 15px;
}

.logoig {

  position: absolute;
  right: 0%;
  margin-right: 250px;
  margin-top: 6%;
  
}

.mappa{
  margin-top: 3%;
  text-align: center;
}

